<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<ul class="menu">
    <li class="menu-item"><a class="menu-link" asp-area="Identity" asp-page="/CustomerPanel/Calendar">Calendar</a></li>
    <li class="menu-item"><a class="menu-link" asp-area="Identity" asp-page="/CustomerPanel/Membership">Membership</a></li>
    <li class="menu-item"><a class="menu-link" asp-area="Identity" asp-page="/CustomerPanel/RateCoaches">Rate Coaches</a></li>
    <li class="menu-item"><a class="menu-link" asp-area="Identity" asp-page="/CustomerPanel/AccountSettings">Personal Data<br />and Settings</a></li>
</ul>