@page
@model FitnessClub.GoogleLoginModel
@{
    ViewData["Title"] = "Google Sign-in";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="819088013276-3fu3lq59ttk80bmllfcgko2t9lob7tbq.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();

        id = profile.getId();
        name = profile.getName();
        imageUrl = profile.getImageUrl();
        email = profile.getEmail();

        document.getElementById('SignOutButton').style.visibility = 'visible';

        document.getElementById('Name').innerHTML = name;
        document.getElementById('Email').innerHTML = email;
        document.getElementById('pfpImg').src = imageUrl;
        document.getElementById('pfpImg').style.visibility = "visible";
    }
</script>
<body>
    <a href="#" onclick="signOut();" id="SignOutButton" style="visibility: hidden">Sign out</a>
    <p></p>
    <p id="Name"></p>
    <p id="Email"></p>
    <img id ="pfpImg" src="" alt="Your profile picture" style="visibility: hidden">

    <script>

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            document.getElementById('SignOutButton').style.visibility = 'hidden';

            document.getElementById('Name').innerHTML = "";
            document.getElementById('Email').innerHTML = "";
            document.getElementById('pfpImg').src = "";
            document.getElementById('pfpImg').style.visibility = "hidden";
        }
    </script>
</body>
