@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Fitness World!</h1>
</div>

<p>@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>

<p>@Environment.GetEnvironmentVariable("APPSETTING_ConnectionString:FCContext")</p>

