@page
@model FitnessClub.Pages.DataManagement.CoachRatings.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CoachRating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoachRating.CoachRatingID" />
            <div class="form-group">
                <label asp-for="CoachRating.Rating" class="control-label"></label>
                <input asp-for="CoachRating.Rating" class="form-control" />
                <span asp-validation-for="CoachRating.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachRating.CoachID" class="control-label"></label>
                <select asp-for="CoachRating.CoachID" class="form-control" asp-items="ViewBag.CoachID"></select>
                <span asp-validation-for="CoachRating.CoachID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachRating.CustomerID" class="control-label"></label>
                <select asp-for="CoachRating.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CoachRating.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachRating.SessionID" class="control-label"></label>
                <select asp-for="CoachRating.SessionID" class="form-control" asp-items="ViewBag.SessionID"></select>
                <span asp-validation-for="CoachRating.SessionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachRating.CreatedBy" class="control-label"></label>
                <input asp-for="CoachRating.CreatedBy" class="form-control" />
                <span asp-validation-for="CoachRating.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachRating.CreatedOn" class="control-label"></label>
                <input asp-for="CoachRating.CreatedOn" class="form-control" />
                <span asp-validation-for="CoachRating.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
