<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- adds index.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.antarescloud.com/ -->

    <defaultDocument enabled="true">
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>

  </system.webServer>
  <appSettings>
    <add key="ASPNETCORE_ENVIRONMENT"
     value="Production" />
    <add key="Authentication:Google:ClientId"
     value="819088013276-3fu3lq59ttk80bmllfcgko2t9lob7tbq.apps.googleusercontent.com" />
    <add key="Authentication:Google:ClientSecret"
     value="sSIY_FJ2ECdTp4Sl_TKBwj9U" />
  </appSettings>
</configuration>