<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="FCContext"
         connectionString="Server=DESKTOP-2D6F1RD\\SQLEXPRESS;Database=DCContext;Trusted_Connection=True;AttachDBFilename=E:\MyDatabases\FCDB.mdf;MultipleActiveResultSets=true" />
  </connectionStrings>

</configuration>