<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <applicationInitialization>
      <add initializationPage="/Index" />
    </applicationInitialization>
  </system.webServer>
  <appSettings>
    <add key="ASPNETCORE_ENVIRONMENT" value="Production" />
    <add key="Authentication:Google:ClientId" value="819088013276-3fu3lq59ttk80bmllfcgko2t9lob7tbq.apps.googleusercontent.com" />
    <add key="Authentication:Google:ClientSecret" value="sSIY_FJ2ECdTp4Sl_TKBwj9U" />
    <add key="WEBSITE_RUN_FROM_PACKAGE" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="ProductionString" connectionString="Host=ec2-54-246-89-234.eu-west-1.compute.amazonaws.com;Database=d3bc6n0mdqulr6;Username=xmhvjjuaadyzgv;Password=02912c8798e5c4b32debab6ca36c87118321f794bf591a9b92669b1c1595b3be;SSL Mode=Require;Trust Server Certificate=true" providerName="Npgsql" />
    <add name="DevelopmentString" connectionString="Host=ec2-54-217-204-34.eu-west-1.compute.amazonaws.com;Database=d4m81rt1kckgc2;Username=cpymlxkzpbptwv;Password=1096d2fa303f41b51585911072f525c6bf8ce204c6d425bacb1de962407277d3;SSL Mode=Require;Trust Server Certificate=true" providerName="Npgsql" />
  </connectionStrings>
</configuration>