@page
@model FitnessClub.Areas.Identity.Pages.CustomerPanel.CustomerPanelModel
@{
    ViewData["Title"] = "_CustomerPanel";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Customer Panel</h1>

<div class="row">
    <div class="col-md-3">
        <partial name="./Shared/_Menu" />
    </div>
</div>